@let messageHtml = message();
@if(messageHtml.enabled) {
<div class="modal-backdrop">
    <div class=" modal grid-cols-4">
        <div class="modal-header">
            <span>Eliminar</span>
            <button class="modal-close" (click)="cancel()">×</button>
        </div>
        <div class="modal-body">
            <p>{{ messageHtml.text }}</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-secondary" (click)="cancel()">Cancelar</button>
            <button class="btn btn-primary" (click)="confirm()">Confirmar</button>
        </div>
    </div>
</div>
}